@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
body {
  background: linear-gradient(to right, #fc4a1a, #f7b733);
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
font-size: 75px;
font-family: 'Orbitron', sans-serif;
}

#date {
font-family: 'Orbitron', sans-serif;
display: flex;
justify-content: center;
align-items: flex-start;
font-size: 45px;
gap: 18px;
}

.pm_am {
  margin-left: 12px;
}